<th:block th:each="u, itemStat: ${userList}">
    <tr>
        <th scope="row" >[[${itemStat.index + 1}]]</th>
        <td>
            <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover" th:src="@{/img/{image}(image=${u.image})}" alt="" srcset="">
            [[${u.first_name}]] [[${u.last_name}]]
        </td>
        <td>[[${u.phone_number}]]</td>
        <td>[[${u.email}]]</td>
        <td>[[${u.gender}]]</td>
        <td>[[${u.address}]]</td>
        <td>[[${u.birthday}]]</td>
        <td class="text-center">
            <a  target="_self" class="btn btn-show-details" data-toggle="modal" data-target="#edit-user"
                th:data-id_member="${u.user_id}"
                th:data-first_name="${u.first_name}"
                th:data-last_name="${u.last_name}"
                th:data-phone="${u.phone_number}"
                th:data-email="${u.email}"
                th:data-gender="${u.gender}"
                th:data-address="${u.address}"
                th:data-birthday="${u.birthday}">
                <i class="p-2 text-primary fa-solid fa-pen-to-square"></i>
            </a>

            <a target="_self" class="btn-show-details-delete" data-toggle="modal" th:data-id_member="${u.user_id}" data-target="#delete-user">
                <i style="cursor: pointer" class="p-2 text-danger fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
</th:block>
<script>
    jsInUser()
</script>