<div th:fragment="product">
    <div class="main-content-user">
        <p style="font-size: 1.6rem">Product Management</p>
    </div>

    <div class="main-content-user__button text-light p-3 w-100 text-right" style="">
        <button data-toggle="modal" data-target="#add-product" type="submit" class="btn btn-primary text-light pt-2 pl-3 pr-3 pb-2 bg-primary">
            <i style="background-color: white" class="text-light bg-primary fa-solid fa-user-gear"></i>
            Add product
        </button>
    </div>

    <div style="" class="main-content-user__manage pt-3 pl-4 pr-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content-user__manage-title">
                    <h5 class="main-content-user__manage-heading pb-3">
                        Product list
                    </h5>
                </div>

                <table class="main-content-user__table table table-striped table-bordered table-hover">
                    <thead class="main-content-user__thead text-white text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Import price</th>
                        <th scope="col">Retail price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Description</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="p, itemStat: ${productList}">
                        <tr>
                            <th scope="row">[[${itemStat.index + 1}]]</th>
                            <td>
                                <img style="width: 40px; height: 40px; border-radius: 50%" th:src="@{/img/{product_id}(product_id=${p.product_img})}" alt="" srcset="">
                                [[${p.product_name}]]
                            </td>
                            <td>[[${p.product_price}]]$</td>
                            <td>[[${p.retail_price}]]$</td>
                            <td>[[${categoryList.getCategory(p.category_id)}]]</td>
                            <td>[[${p.quantity_stock}]]</td>
                            <td>[[${p.date_created}]]</td>
                            <td>[[${p.description}]]</td>
                            <td>
                                [[${p.product_id}]]
                            </td>
                            <td class="text-center">
                                <a data-toggle="modal" class="btn-show-details" id="edit-btn" data-target="#edit-product"
                                   th:data-id="${p.product_id}"
                                   th:data-name="${p.product_name}"
                                   th:data-import="${p.product_price}"
                                   th:data-retail="${p.retail_price}"
                                   th:data-category="${categoryList.getCategory(p.category_id)}"
                                   th:data-quan="${p.quantity_stock}"
                                   th:data-date="${p.date_created}"
                                   th:data-des="${p.description}">
                                    <i th:if="${#strings.contains(#authentication.principal.authorities,'Admin')}" style="cursor: pointer" class="p-2 text-primary fa-solid fa-pen-to-square"></i>
                                </a>
                                <a th:if="${#strings.contains(#authentication.principal.authorities,'Admin')}" data-toggle="modal" id="delete-btn" class="btn-show-details-delete" th:data-id="${p.product_id}" data-target="#delete-product">
                                    <i style="cursor: pointer" class="p-2 text-danger fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>

                <ul style="float: right" th:if="${productList.totalPages > 1}" class="pagination">
                    <li class="page-item">
                        <a th:if="${productList.hasPrevious()}" th:href="@{'/product/' + ${productList.previousPageable().pageNumber + 1}}" class="page-link">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(0, productList.totalPages - 1)}" class="page-item">
                        <a th:href="@{'/product/' + ${pageNumber + 1}}"
                           th:text="${pageNumber + 1}"
                           th:class="${pageNumber + 1 == productList.number ? 'active page-link' : 'page-link'}">
                        </a>
                    </li>

                    <li class="page-item">
                        <a th:if="${productList.hasNext()}" th:href="@{'/product/' + ${productList.nextPageable().pageNumber + 1}}" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--    add modal -->
    <div class="modal fade" id="add-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/product/add}" enctype="multipart/form-data" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Product</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="name-add">Product name</label>
                                <input class="form-control login-form__input" type="text" name="name-add" id="name-add" placeholder="Product name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="type">Category</label>
                                <select name="type" class="form-control" id="type">
                                    <option value="none">--Choose type--</option>
                                    <th:block th:each="c: ${categoryListModal}">
                                        <option th:value="${c.category_id}">[[${c.name}]]</option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="img-add">Image</label>
                                <input class="form-control login-form__input" maxlength="100MB" type="file" name="img-add" id="img-add" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="Iprice-add">Import price</label>
                                <input class="form-control login-form__input" type="number" name="Iprice-add" id="Iprice-add" placeholder="Import price" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="Rprice-add">Retail price</label>
                                <input class="form-control login-form__input" type="number" name="Rprice-add" id="Rprice-add" placeholder="Retail price" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="quan-add">Quantity</label>
                                <input class="form-control login-form__input" type="number" name="quan-add" id="quan-add" placeholder="Quantity" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="des-add">Description</label> </br>
                                <textarea class="form-control" name="des-add" id="des-add" cols="61" rows="5"></textarea>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    edit modal -->
    <div class="modal fade" tabindex="-1"  id="edit-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/product/edit}" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Product</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">

                            <input type="hidden" name="productIdEdit" id="productIdEdit" value="">

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="name-edit">Product name</label>
                                <input class="form-control login-form__input" type="text" name="name-edit" id="name-edit" placeholder="Product name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="type-edit">Category</label>
                                <select name="type-edit" class="form-control" id="type-edit">
                                    <option value="none">--Choose type--</option>
                                    <th:block th:each="c: ${categoryListModal}">
                                        <option th:value="${c.category_id}">[[${c.name}]]</option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="img-edit">Image</label>
                                <input class="form-control login-form__input" type="file" name="img-edit" id="img-edit" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="Iprice-edit">Import price</label>
                                <input class="form-control login-form__input" type="number" name="Iprice-edit" id="Iprice-edit" placeholder="Import price" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="Rprice-edit">Retail price</label>
                                <input class="form-control login-form__input" type="number" name="Rprice-edit" id="Rprice-edit" placeholder="Retail price" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="quan-edit">Quantity</label>
                                <input class="form-control login-form__input" type="number" name="quan-edit" id="quan-edit" placeholder="Quantity" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="des-edit">Description</label> </br>
                                <textarea class="form-control" name="des-add" id="des-edit" cols="61" rows="5"></textarea>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--    delete modal -->
    <div class="modal fade" tabindex="-1"  id="delete-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/product/delete}" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Product</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- ID item đc click gắn ở đây, kéo lên mục delete chỉnh lại data-id -->
                            <input type="hidden" name="productIdDelete" id="productIdDelete" value="">

                            <p id="delete-modal-para">Are you sure to delete product ___ ?</p>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!--                               th:data-id="${p.product_id}"
                                   th:data-name="${p.product_name}"
                                   th:data-import="${p.product_price}"
                                   th:data-retail="${p.retail_price}"
                                   th:data-category="${categoryList.getCategory(p.category_id)}"
                                   th:data-quan="${p.quantity_stock}"
                                   th:data-date="${p.date_created}"
                                   th:data-des="${p.description}"
                                    -->
    <script>
        $(document).ready(function() {
            $('.btn-show-details').on('click', function() {
                var id = $(this).data('id');
                var name = $(this).data('name')
                var import_price = $(this).data('import')
                var retail = $(this).data('retail')
                var category = $(this).data('category')
                var quan = $(this).data('quan')
                var date = $(this).data('date')
                var des = $(this).data('des')

                $('#productIdEdit').attr('value', id);
                $('#name-edit').attr('value', name);
                $('#Iprice-edit').attr('value', import_price);
                $('#Rprice-edit').attr('value', retail);
                // $("#type-edit").val(category);
                $('#quan-edit').val(quan);
                $('#des-edit').val(des);
            });
        });

        $(document).ready(function() {
            $('.btn-show-details-delete').on('click', function() {
                var id = $(this).data('id');
                // alert(id)

                $('#productIdDelete').attr('value', id);
                $('#delete-modal-para').html("Are you sure to delete "+ id+" ?");

            });
        });

    </script>
</div>
