<th:block th:each="p, itemStat: ${productList}">
    <tr>
        <th scope="row">[[${itemStat.index + 1}]]</th>
        <td>
            <img style="width: 40px; height: 40px; border-radius: 50%" th:src="@{/img/{product_id}(product_id=${p.product_img})}" alt="" srcset="">
            [[${p.product_name}]]
        </td>
        <td th:if="${#strings.contains(#authentication.principal.authorities,'Admin')}">[[${p.product_price}]]$</td>
        <td>[[${p.retail_price}]]$</td>
        <td>[[${categoryList.getCategory(p.category_id)}]]</td>
        <td>[[${p.quantity_stock}]]</td>
        <td>[[${p.date_created}]]</td>
        <td>[[${p.description}]]</td>
        <td class="text-center">
            <img style="width: 50px;" th:src="@{/img/{barcode}(barcode=${p.barcode})}" alt="" srcset="">
<!--            [[${p.barcode}]]-->
        </td>
        <td th:if="${#strings.contains(#authentication.principal.authorities,'Admin')}" class="text-center">
            <a data-toggle="modal" class="btn-show-details" id="edit-btn" data-target="#edit-product"
               th:data-id="${p.product_id}"
               th:data-name="${p.product_name}"
               th:data-import="${p.product_price}"
               th:data-retail="${p.retail_price}"
               th:data-category="${categoryList.getCategory(p.category_id)}"
               th:data-quan="${p.quantity_stock}"
               th:data-date="${p.date_created}"
               th:data-des="${p.description}">
                <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-pen-to-square"></i>
            </a>

            <a data-toggle="modal" id="delete-btn" class="btn-show-details-delete" th:data-id="${p.product_id}" data-target="#delete-product">
                <i style="cursor: pointer" class="p-2 text-danger fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
</th:block>

<script>

    jsInProduct();

</script>