<div class="col-lg-3 col-md-12 col-sm-12">
    <div class="main-content-report-item d-flex align-items-center  pt-3 pb-2 pl-2 pr-2 text-light bg-success-new">
        <div class="col-lg-10">
            <h2>[[${totalMoney[0][0]}]]$</h2>
            <p>TOTAL MONEY</p>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center bg-success" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0">
            <i style="font-size: 1.6rem" class="fa-solid fa-money-bill-wave"></i>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-12 col-sm-12">
    <div class="main-content-report-item d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light bg-danger">
        <div class="col-lg-10">
            <h2>[[${totalOrder[0][0]}]]</h2>
            <p>TOTAL ORDER</p>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0; background-color: #cf4436">
            <i style="font-size: 1.6rem" class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-12 col-sm-12">
    <div style="background-color: #1fa4ce" class="main-content-report-item d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light">
        <div class="col-lg-10">
            <h2>[[${totalProduct[0][0]}]]</h2>
            <p>TOTAL PRODUCT</p>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center bg-info" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0;">
            <i style="font-size: 1.6rem" class="fa-brands fa-product-hunt"></i>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-12 col-sm-12">
    <div style="" class="main-content-report-item bg-warning d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light">
        <div class="col-lg-10">
            <h2>[[${totalProfit}]]$</h2>
            <p>TOTAL PROFIT</p>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0;background-color: #da8c10;">
            <i style="font-size: 1.6rem" class="fa-solid fa-credit-card"></i>
        </div>
    </div>
</div>
