<div th:fragment="profile">

    <div class="col-lg-4" style="position: relative">
        <div style="" class="bg--outside main-profile__top-side"></div>

        <div style="" class="main-profile__img text-center">
            <label for="fileInput">
                <img id="profile-img" style="width: 100px; height: 100px; border-radius: 50%; z-index: 1; object-fit: cover" th:src="@{/img/user_profile.png}" alt="" srcset="">
            </label>
            <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="handleUploadImg()">

        </div>
        <div style="" class="main-profile__bottom-side">
            <div style="padding-top: 4rem" class="form-group w-100 d-flex flex-wrap justify-content-center text-center">
                <h5 class="col-lg-12 mb-3">Jake Jason</h5>
                <div style="color: #838383;border-radius: 10px; padding: 2px" class="main-profile__bottom-side--role text-light bg-success w-25 text-center mb-2">
                    <small>Admin</small>
                </div>
                <small style="color: #838383" class="col-lg-12 mb-2">0356779197</small>
                <small style="color: #838383" class="col-lg-12">jakejason@gmail.com</small>
            </div>
        </div>
    </div>

    <div style="" class="col-lg-8">
        <div style="background-color: white; border-radius: 10px" class="main-home-profile__edit p-4 d-flex flex-wrap">
            <div class="form-group col-lg-6 login-form--info">
                <label class="login-form__label" for="firstname">First name</label>
                <input class="form-control login-form__input" type="text" name="firstname" id="firstname" placeholder="First name" required>
            </div>

            <div class="form-group col-lg-6 login-form--info">
                <label class="login-form__label" for="lastname">Last name</label>
                <input class="form-control login-form__input" type="text" name="lastname" id="lastname" placeholder="Last name" required>
            </div>

            <div class="form-group col-lg-6 login-form--info">
                <label class="login-form__label" for="gender">Gender</label>
                <select name="gender" class="form-control" id="gender">
                    <option class="login-form__label" value="none">--Choose gender--</option>
                    <option class="login-form__label" value="Male">Male</option>
                    <option class="login-form__label" value="Female">Female</option>
                </select>
            </div>

            <div class="form-group col-lg-6 login-form--info">
                <label class="login-form__label" for="date">Birthday</label>
                <input class="form-control login-form__label login-form__input" type="date" name="date" id="date" placeholder="Address" required>
            </div>

            <div class="form-group col-lg-12 login-form--info">
                <label class="login-form__label" for="email">Email</label>
                <input class="form-control login-form__input" type="email" name="email" id="email" placeholder="Email" required>
            </div>

            <div class="form-group col-lg-12 login-form--info">
                <label class="login-form__label" for="address">Address</label>
                <input class="form-control login-form__input" type="text" name="address" id="address" placeholder="Address" required>
            </div>

            <div class="form-group col-lg-12 login-form--info">
                <label class="login-form__label" for="phone">Phone number</label>
                <input class="form-control login-form__input" type="number" name="phone" id="phone" placeholder="Phone number" required>
            </div>

            <div class="main-home-profile__btn col-lg-12 text-right">
                <button data-toggle="modal" data-id="123" data-target="#edit-user" class="btn btn-primary" type="submit">Update</button>
            </div>

        </div>

    </div>

    <div class="modal fade" tabindex="-1"  id="edit-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Update Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- ID item đc click gắn ở đây, kéo lên mục delete chỉnh lại data-id -->
                            <input type="hidden" name="userIdEdit" id="userId-edit" value="">

                            <p>Are you sure to update these information ?</p>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>