<div th:fragment="user">

    <div class="main-content-user">
        <p style="font-size: 1.6rem">User Management</p>
    </div>

    <div class="main-content-user__button text-light p-3 w-100 text-right" style="">
        <button data-toggle="modal" data-target="#add-user" type="submit" class="btn btn-primary text-light pt-2 pl-3 pr-3 pb-2 bg-primary">
            <i style="background-color: white" class="text-light bg-primary fa-solid fa-user-gear"></i>
            Add user
        </button>
    </div>

    <div style="" class="main-content-user__manage pt-3 pl-4 pr-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content-user__manage-title">
                    <h5 class="main-content-user__manage-heading pb-3">
                        Users list
                    </h5>
                </div>

                <table class="main-content-user__table table table-striped table-bordered table-hover">
                    <thead class="main-content-user__thead text-white text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Address</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="u, itemStat: ${userList}">
                        <tr>
                            <th scope="row" >[[${itemStat.index + 1}]]</th>
                            <td>
                                <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover" th:src="@{/img/{image}(image=${u.image})}" alt="" srcset="">
                                [[${u.first_name}]] [[${u.last_name}]]
                            </td>
                            <td>[[${u.phone_number}]]</td>
                            <td>[[${u.email}]]</td>
                            <td>[[${u.gender}]]</td>
                            <td>[[${u.address}]]</td>
                            <td>[[${u.birthday}]]</td>
                            <td class="text-center">
                                <a  target="_self" class="btn btn-show-details" data-toggle="modal" data-target="#edit-user"
                                    th:data-id_member="${u.user_id}"
                                    th:data-first_name="${u.first_name}"
                                    th:data-last_name="${u.last_name}"
                                    th:data-phone="${u.phone_number}"
                                    th:data-email="${u.email}"
                                    th:data-gender="${u.gender}"
                                    th:data-address="${u.address}"
                                    th:data-birthday="${u.birthday}">
                                    <i class="p-2 text-primary fa-solid fa-pen-to-square"></i>
                                </a>

                                <a target="_self" class="btn-show-details-delete" data-toggle="modal" th:data-id_member="${u.user_id}" data-target="#delete-user">
                                    <i style="cursor: pointer" class="p-2 text-danger fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>

                <ul style="float: right" th:if="${userList.totalPages > 1}" class="pagination">
                    <li class="page-item">
                        <a th:if="${userList.hasPrevious()}" th:href="@{'/user/' + ${userList.previousPageable().pageNumber + 1}}" class="page-link">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(0, userList.totalPages - 1)}" class="page-item">
                        <a th:href="@{'/user/' + ${pageNumber + 1}}"
                           th:text="${pageNumber + 1}"
                           th:class="${pageNumber + 1 == userList.number ? 'active page-link' : 'page-link'}">
                        </a>
                    </li>

                    <li class="page-item">
                        <a th:if="${userList.hasNext()}" th:href="@{'/user/' + ${userList.nextPageable().pageNumber + 1}}" class="page-link">Next</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

<!--    add modal -->
    <div class="modal fade" id="add-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/user/add}" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="firstname">First name</label>
                                <input class="form-control login-form__input" type="text" name="firstname" id="firstname" placeholder="First name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="lastname">Last name</label>
                                <input class="form-control login-form__input" type="text" name="lastname" id="lastname" placeholder="Last name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="email">Email</label>
                                <input class="form-control login-form__input" type="email" name="email" id="email" placeholder="Email" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="address">Address</label>
                                <input class="form-control login-form__input" type="text" name="address" id="address" placeholder="Address" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="phone">Phone number</label>
                                <input class="form-control login-form__input" type="text" name="phone" id="phone" placeholder="Phone number" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="date">Birthday</label>
                                <input class="form-control login-form__input" type="date" name="date" id="date" placeholder="Address" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="gender">Gender</label>
                                <select name="gender" class="form-control" id="gender">
                                    <option value="none">--Choose gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    edit modal -->
    <div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/user/edit}" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- ID item đc click gắn ở đây, kéo lên mục edit chỉnh lại data-id -->
                            <input type="hidden" name="userIdEdit" id="userIdEdit" value="">

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="firstname_edit">First name</label>
                                <input class="form-control login-form__input" type="text" name="firstname_edit" id="firstname_edit" placeholder="First name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="lastname_edit">Last name</label>
                                <input class="form-control login-form__input" type="text" name="lastname_edit" id="lastname_edit" placeholder="Last name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="email_edit">Email</label>
                                <input class="form-control login-form__input" type="email" name="email_edit" id="email_edit" placeholder="Email" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="address_edit">Address</label>
                                <input class="form-control login-form__input" type="text" name="address_edit" id="address_edit" placeholder="Address" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="phone_edit">Phone number</label>
                                <input class="form-control login-form__input" type="text" name="phone_edit" id="phone_edit" placeholder="Phone number" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="date_edit">Birthday</label>
                                <input class="form-control login-form__input" type="date" name="date_edit" id="date_edit" placeholder="Address" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="gender_edit">Gender</label>
                                <select name="gender_edit" class="form-control" id="gender_edit">
                                    <option value="none">--Choose gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    delete modal -->
    <div class="modal fade" tabindex="-1"  id="delete-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/user/delete}" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- ID item đc click gắn ở đây, kéo lên mục delete chỉnh lại data-id -->
                            <input type="hidden" name="userIdDelete" id="userIdDelete" value="">

                            <p id="userIdDelete-para"></p>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    th:data-id_member="${u.user_id}"
                                    th:data-first_name="${u.first_name}"
                                    th:data-last_name="${u.last_name}"
                                    th:phone="${u.phone_number}"
                                    th:email="${u.email}"
                                    th:gender="${u.gender}"
                                    th:address="${u.address}"
                                    th:birthday="${u.birthday}">
                                    <i class="p-2 text-primary fa-solid fa-pen-to-square"></i>
                                -->

    <script>
        $(document).ready(function() {
            $('.btn-show-details').on('click', function() {
                var userId = $(this).data('id_member');
                var firstname = $(this).data('first_name')
                var lastname = $(this).data('last_name')
                var email = $(this).data('email')
                var phone = $(this).data('phone')
                var gender = $(this).data('gender')
                var address = $(this).data('address')
                var dob = $(this).data('birthday')

                // alert(userId)
                $('#userIdEdit').attr('value', userId);
                $('#firstname_edit').attr('value', firstname);
                $('#lastname_edit').attr('value', lastname);
                $('#email_edit').attr('value', email);
                $('#address_edit').attr('value', address);
                $('#phone_edit').val(phone);
                $('#date_edit').val(dob);
                $('#gender_edit').val(gender);

            });
        });

        $(document).ready(function() {
            $('.btn-show-details-delete').on('click', function() {
                var id = $(this).data('id_member');

                $('#userIdDelete').attr('value', id);

                $('#userIdDelete-para').html('Are you sure to delete '+ id + ' ?');

            });
        });


    </script>
</div>



