<th:block th:each="a, itemStat: ${accList}">
    <tr>
        <th scope="row">[[${itemStat.index + 1}]]</th>
        <td>
            <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover" th:src="@{/img/user_profile.png}" alt="" srcset="">
            [[${a[2]}]] [[${a[3]}]]
        </td>
        <td class="text-center">
            <!--                                 btn btn-outline-secondary main-content-account__role-action -->
            <a th:href="@{/account/{accID}/Admin(accID=${a[5]})}" th:class="${a[1] == 'Admin' and a[0] == true} ? 'bg-primary-new text-light btn btn-outline-secondary main-content-account--role-action': 'btn btn-outline-secondary main-content-account--role-action' ">
                <i class="fa-solid fa-user-tie"></i>
            </a>
        </td>
        <td class="text-center">
            <a th:href="@{/account/{accID}/Staff(accID=${a[5]})}" style="width: 45px; height: 42px" th:class="${a[1] == 'Staff' and a[0] == true} ? 'bg-primary-new text-light btn btn-outline-secondary main-content-account--role-action': 'btn btn-outline-secondary main-content-account--role-action'">
                <i class="fa-solid fa-users"></i>
            </a>
        </td>
        <td class="text-center">
            <a th:href="@{/account/lock/{accID}/{lock}(accID=${a[5]},lock=${a[0]})}" th:class="${not a[0]} ? 'bg-danger text-light btn btn-outline-secondary main-content-account--role-action': 'btn btn-outline-secondary main-content-account--role-action'">
                <i class="fa-solid fa-lock"></i>
            </a>
        </td>
        <td class="text-center">
            <a href="" th:class="${not a[6]} ? 'bg-danger text-light btn btn-outline-secondary main-content-account--role-action': 'bg-success-new text-light btn btn-outline-secondary main-content-account--role-action'">
                <i class="fa-solid fa-key"></i>
            </a>
        </td>
        <td class="text-center">
            <a style="width: 43px; height: 41px" th:href="@{/account/sendEmail/{accID}(accID=${a[5]})}" class="btn btn-outline-secondary main-content-account--role-action">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </td>
    </tr>
</th:block>

<script>

    jsInAccount()

</script>
