<div th:fragment="customer">
    <div class="main-content-user">
        <p style="font-size: 1.6rem">Customer Management</p>
    </div>

<!--    <div class="main-content-user__button text-light p-3 w-100 text-right" style="">-->
<!--        <button data-toggle="modal" data-target="#add-user" type="submit" class="btn btn-primary text-light pt-2 pl-3 pr-3 pb-2 bg-primary">-->
<!--            <i style="background-color: white" class="text-light bg-primary fa-solid fa-user-gear"></i>-->
<!--            Add user-->
<!--        </button>-->
<!--    </div>-->

    <div style="" class="main-content-user__manage pt-3 pl-4 pr-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content-user__manage-title">
                    <h5 class="main-content-user__manage-heading pb-3">
                        Customer list
                    </h5>
                </div>

                <table class="main-content-user__table table table-striped table-bordered table-hover">
                    <thead class="main-content-user__thead text-white text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Purchase history</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="c, itemStat: ${customerList}">
                        <tr>
                            <th scope="row">[[${itemStat.index + 1}]]</th>
                            <td>
                                <img style="width: 40px" th:src="@{/img/user_profile.png}" alt="" srcset="">
                                [[${c.customer_name}]]
                            </td>
                            <td>[[${c.customer_phone}]]</td>
                            <td>[[${c.customer_email}]]</td>
                            <td>[[${c.customer_address}]]</td>
                            <td>[[${c.date_created}]]</td>
                            <td class="text-center">
                                <a data-toggle="modal" th:data-id="${c.customer_id}" class="btn btn-show-details" data-target="#purchase-history">
                                    <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>
                                </a>
<!--                                <a data-toggle="modal" th:data-id="${c.customer_id}" class="btn btn-show-details-history" data-target="#order-detail">-->
<!--                                    <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>-->
<!--                                </a>-->
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>

                <ul style="float: right" th:if="${customerList.totalPages > 1}" class="pagination">
                    <li class="page-item">
                        <a th:if="${customerList.hasPrevious()}" th:href="@{'/user/' + ${customerList.previousPageable().pageNumber + 1}}" class="page-link">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(0, customerList.totalPages - 1)}" class="page-item">
                        <a th:href="@{'/customer/' + ${pageNumber + 1}}"
                           th:text="${pageNumber + 1}"
                           th:class="${pageNumber + 1 == customerList.number ? 'active page-link' : 'page-link'}">
                        </a>
                    </li>

                    <li class="page-item">
                        <a th:if="${customerList.hasNext()}" th:href="@{'/user/' + ${customerList.nextPageable().pageNumber + 1}}" class="page-link">Next</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <!--    purchase modal -->
    <div class="modal fade" style="" id="purchase-history">
        <div class="modal-dialog modal-lg" style="">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Purchase History</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

<!--                <input type="hidden" id="purchaseCusId" name="">-->
                    <!-- Modal body -->
                    <div class="modal-body" style="overflow-y: scroll">
                        <div class="form-group">
                            <table class="main-content-user__table table table-striped table-bordered table-hover">
                                <thead class="main-content-user__thead text-white text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Amount paid</th>
                                    <th scope="col">Total amount</th>
                                    <th scope="col">Change given</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Order details</th>
                                </tr>
                                </thead>

                                <tbody id="tbody">

<!--                                <th:block th:each="c: ${purchaseList.getPurchaseHistory('')}">-->
<!--                                    <tr>-->
<!--                                        <th scope="row">1</th>-->
<!--                                        <td>29/09/2003</td>-->
<!--                                        <td>100$</td>-->
<!--                                        <td>150$</td>-->
<!--                                        <td>50$</td>-->
<!--                                        <td>3</td>-->
<!--                                        <td class="text-center">-->
<!--                                            <a data-toggle="modal" id="" data-id="123" data-target="#order-detail">-->
<!--                                                <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>-->
<!--                                            </a>-->

<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                </th:block>-->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
<!--                        <button type="submit" class="btn btn-primary">Submit</button>-->
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

    <!--    order detail-->
    <div class="modal fade" id="order-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Order Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="overflow-y: scroll">
                        <div class="form-group">
                            <input type="hidden" id="order-id" name="" value="">
                            <table class="main-content-user__table table table-striped table-bordered table-hover">
                                <thead class="main-content-user__thead text-white text-center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Description</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-details">


                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
<!--                        <button type="submit" class="btn btn-primary">Submit</button>-->
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

    <script>
        // showModalInCustomer();
        $(document).ready(function() {
            var cusId = null;
            $('.btn-show-details').on('click', function() {
                cusId = $(this).data('id');
                // console.log(cusId)

                // $("#purchaseCusId").attr('value', cusId)
                $.ajax({
                    type: 'GET',
                    url: '/customer/purchase-history/' + cusId,
                    success: function(response) {

                        $('#tbody').html(response);
                        $('.btn-show-details-history').on('click', function() {
                            cusId = $(this).data('id');
                            var date = $(this).data('date');
                            console.log(cusId)
                            console.log("hiii")

                            $("#order-id").attr('value', cusId)
                            $.ajax({
                                type: 'GET',
                                url: '/customer/order_details/' + cusId+"/"+date,
                                success: function(response) {

                                    $('#tbody-details').html(response);
                                    // $('#customerModal').modal('show');
                                },
                                error: function(error) {
                                    console.error('Error:', error);
                                }
                            });
                        });
                        // $('#customerModal').modal('show');
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

    </script>
</div>
