<div th:fragment="report">
    <div class="main-content-user">
        <p style="font-size: 1.6rem">Report Management</p>
    </div>

    <div id="total-items" class="main-content-report d-flex flex-wrap justify-content-around col-lg-12">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="main-content-report-item d-flex align-items-center  pt-3 pb-2 pl-2 pr-2 text-light bg-success-new">
                <div class="col-lg-10">
                    <h2>201</h2>
                    <p>TOTAL MONEY</p>
                </div>

                <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center bg-success" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0">
                    <i style="font-size: 1.6rem" class="fa-solid fa-money-bill-wave"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="main-content-report-item d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light bg-danger">
                <div class="col-lg-10">
                    <h2>500</h2>
                    <p>TOTAL ORDER</p>
                </div>

                <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0; background-color: #cf4436">
                    <i style="font-size: 1.6rem" class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <div style="background-color: #1fa4ce" class="main-content-report-item d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light">
                <div class="col-lg-10">
                    <h2>500</h2>
                    <p>TOTAL PRODUCT</p>
                </div>

                <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center bg-info" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0;">
                    <i style="font-size: 1.6rem" class="fa-brands fa-product-hunt"></i>
                </div>
            </div>
        </div>
        <th:block th:if="${#strings.contains(#authentication.principal.authorities,'Admin')}">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div style="" class="main-content-report-item bg-warning d-flex align-items-center pt-3 pb-2 pl-2 pr-2 text-light">
                <div class="col-lg-10">
                    <h2>5000</h2>
                    <p>TOTAL PROFIT</p>
                </div>

                <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center" style="border-left: 0.5px solid #ccc; position: absolute; top: 0; bottom: 0; right: 0;background-color: #da8c10;">
                    <i style="font-size: 1.6rem" class="fa-solid fa-credit-card"></i>
                </div>
            </div>
        </div>
        </th:block>

    </div>

    <div class="main-content-report__date-change d-flex justify-content-end mt-5">
        <div class="form-group main-content-report__date-change--start mr-4">
            <label class="login-form__label" for="date-start">From</label>
            <input type="date" class="form-control" name="date-start" id="date-start">
        </div>

        <div class="form-group main-content-report__date-change--end">
            <label class="login-form__label" for="date-end">To</label>
            <input type="date" class="form-control" name="date-end" id="date-end">
        </div>
    </div>

    <div class="main-content-report__btn--date">
        <button style="float: right;" id="btn-date" class="btn btn-primary mb-3" type="submit">Find</button>
    </div>

    <div class="main-content-report main-content-user__manage w-100 p-3">

        <div class="main-content-user__manage-title">
            <h5 class="main-content-user__manage-heading">
                Order list
            </h5>
        </div>

        <table class="main-content-user__table mt-4 table table-striped table-bordered table-hover">
            <thead class="main-content-user__thead text-white text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">Date created</th>
<!--                <th scope="col">Product name</th>-->
                <th scope="col">Customer name</th>
                <th scope="col">User creator</th>
<!--                <th scope="col">Address</th>-->
<!--                <th scope="col">Phone number</th>-->
<!--                <th scope="col">Quantity</th>-->
                <th scope="col">Status</th>
                <th scope="col">Total amount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody id="tbody">
            <th:block th:each="ord, itemStat: ${orderList}">
                <tr>
                    <th scope="row">[[${itemStat.index + 1}]]</th>
                    <td>[[${ord[0]}]]</td>
                    <td>[[${ord[1]}]]</td>
                    <td>[[${ord[2]}]]</td>
                    <td>[[${ord[3]}]] [[${ord[4]}]]</td>
                    <td>[[${ord[5]}]]</td>
                    <td>[[${ord[6]}]]$</td>
                    <td class="text-center">
                        <a data-toggle="modal" class="btn btn-show-details" th:data-id="${ord[0]}" data-target="#order-details">
                            <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>

        <ul style="float: right; cursor: pointer" th:if="${orderList.totalPages > 1}" class="pagination">
            <li class="page-item">
                <a th:if="${orderList.hasPrevious()}" th:data-page_number="@{'/payment/report/' + ${orderList.previousPageable().pageNumber + 1}}" class="page-link">Previous</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, orderList.totalPages - 1)}" class="page-item">
                <a th:data-page_number="@{'/payment/report/' + ${pageNumber + 1}}"
                   th:text="${pageNumber + 1}"
                   th:class="${pageNumber + 1 == orderList.number ? 'active page-link' : 'page-link'}">
                </a>
            </li>

            <li class="page-item">
                <a th:if="${orderList.hasNext()}" th:data-page_number="@{'/payment/report/' + ${orderList.nextPageable().pageNumber + 1}}" class="page-link">Next</a>
            </li>
        </ul>

    </div>

    <!--    order detail-->
    <div class="modal fade" id="order-details">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="overflow-y: scroll">
                    <div class="form-group">
                        <input type="hidden" id="order-id" name="" value="">
                        <table class="main-content-user__table table table-striped table-bordered table-hover">
                            <thead class="main-content-user__thead text-white text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Change given</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-details">


                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <!--                        <button type="submit" class="btn btn-primary">Submit</button>-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        jsInReport()

    </script>
</div>