<th:block th:each="ord, itemStat: ${orderList}">
    <tr>
        <th scope="row">[[${itemStat.index + 1}]]</th>
        <td>[[${ord[0]}]]</td>
        <td>[[${ord[1]}]]</td>
        <td>[[${ord[2]}]]</td>
        <td>[[${ord[3]}]] [[${ord[4]}]]</td>
        <td>[[${ord[5]}]]</td>
        <td>[[${ord[6]}]]$</td>
        <td class="text-center">
            <a data-toggle="modal" class="btn btn-show-details" th:data-id="${ord[0]}" data-target="#order-details">
                <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>
            </a>
        </td>
    </tr>
</th:block>

<script>
    jsInReport()
</script>