<th:block th:each="c, itemStat: ${customerList}">
    <tr>
        <th scope="row">[[${itemStat.index + 1}]]</th>
        <td>
            <img style="width: 40px" th:src="@{/img/user_profile.png}" alt="" srcset="">
            [[${c.customer_name}]]
        </td>
        <td>[[${c.customer_phone}]]</td>
        <td>[[${c.customer_email}]]</td>
        <td>[[${c.customer_address}]]</td>
        <td>[[${c.date_created}]]</td>
        <td class="text-center">
            <a data-toggle="modal" th:data-id="${c.customer_id}" class="btn btn-show-details" data-target="#purchase-history">
                <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>
            </a>
            <!--                                <a data-toggle="modal" th:data-id="${c.customer_id}" class="btn btn-show-details-history" data-target="#order-detail">-->
            <!--                                    <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>-->
            <!--                                </a>-->
        </td>
    </tr>
</th:block>

<script>

    jsInCustomer()

</script>