<th:block th:each="p, itemStat: ${purchaseList}">
    <tr th:if="${p[3] != null}">
        <th scope="row">[[${itemStat.index + 1}]]</th>
        <td>[[${p[0]}]]</td>
        <td>[[${p[2]}]]$</td>
        <td>[[${p[4]}]]$</td>
        <td>[[${p[3]}]]$</td>
        <td>[[${p[1]}]]</td>
        <td class="text-center">
            <a data-toggle="modal" class="btn-show-details-history" th:data-id="${p[5]}" th:data-date="${p[0]}" data-target="#order-detail">
                <i style="cursor: pointer" class="p-2 text-primary fa-solid fa-eye"></i>
            </a>

        </td>
    </tr>
</th:block>
