<div th:fragment="home">
    <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="main-home-filter">
            <ul style="list-style: none;" class="pl-0 main-home-list flex-wrap d-flex">

                <div class="col-lg-12 d-flex justify-content-center text-center align-items-center">
                    <a class="main-home-item col-lg-2" href="/product/1">
                        <li class="main-home-item--link">Electronics</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/2">
                        <li class="main-home-item--link">Clothing</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/3">
                        <li class="main-home-item--link">Books</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/4">
                        <li class="main-home-item--link">Decorate</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/5">
                        <li class="main-home-item--link">Beauty</li>
                    </a>
                </div>

                <div class="col-lg-12 d-flex justify-content-center text-center align-items-center">
                    <a class="main-home-item col-lg-2" href="/product/6">
                        <li class="main-home-item--link">Sports</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/7">
                        <li class="main-home-item--link">Toys</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/8">
                        <li class="main-home-item--link">Foods</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/9">
                        <li class="main-home-item--link">Furniture</li>
                    </a>
                    <a class="main-home-item col-lg-2" href="/product/10">
                        <li class="main-home-item--link">Jewelry</li>
                    </a>
                </div>
            </ul>
        </div>

        <div class="main-home-product mt-4">
            <div class="col-lg-12 d-flex flex-wrap">
                <a data-toggle="modal" data-id="123" id="123" onclick="showModalInHome(this.id)" data-target="#add-product" style="text-decoration: none" class="main-home-product__item col-lg-4 col-md-4 col-sm-6 text-center text-dark mt-3">
                    <div style="background-color: white;border-radius: 10px" class=" p-3">
                        <div class="main-home-product__img">
                            <img style="width: 80px" th:src="@{../img/product.png}" alt="" srcset="">
                        </div>

                        <div class="main-home-product__name mt-3">
                            <p class="main-home-product__para mb-1">
                                Pho Bo VietNam
                            </p>
                            <h5>24.00$</h5>
                        </div>
                    </div>
                </a>

                <a data-toggle="modal" data-id="123" data-target="#add-product" style="text-decoration: none" class="main-home-product__item col-lg-4 col-md-4 col-sm-6 text-center text-dark mt-3">
                    <div style="background-color: white;border-radius: 10px" class=" p-3">
                        <div class="main-home-product__img">
                            <img style="width: 80px" th:src="@{../img/product.png}" alt="" srcset="">
                        </div>

                        <div class="main-home-product__name mt-3">
                            <p class="main-home-product__para mb-1">
                                Pho Bo VietNam
                            </p>
                            <h5>24.00$</h5>
                        </div>
                    </div>
                </a>

                <a data-toggle="modal" data-id="123" data-target="#add-product" style="text-decoration: none" class="main-home-product__item col-lg-4 col-md-4 col-sm-6 text-center text-dark mt-3">
                    <div style="background-color: white;border-radius: 10px" class=" p-3">
                        <div class="main-home-product__img">
                            <img style="width: 80px" th:src="@{../img/product.png}" alt="" srcset="">
                        </div>

                        <div class="main-home-product__name mt-3">
                            <p class="main-home-product__para mb-1">
                                Pho Bo VietNam
                            </p>
                            <h5>24.00$</h5>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12">
        <div style="background-color: white" class="main-home-payment p-3">
            <div style="border-bottom: 0.5px solid #ccc" class="main-home-payment__customer pb-2">
                <div class="w-100 main-home-payment__customer--add mb-3">
                    <button data-toggle="modal" data-target="#add-customer" type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-user-plus"></i>
                        Add Customer
                    </button>
                </div>

                <div class="form-group d-flex flex-wrap justify-content-between">
                    <input placeholder="Phone number..." type="number" class="form-control col-lg-8" name="phone" id="phone">
                    <button type="submit" class="btn btn-primary col-lg-3">FIND</button>
                </div>

                <div class="main-home-payment__customer alert alert-info">
                    <div class="d-flex main-home-payment__customer--fullname">
                        <p class="col-lg-6 mb-2">Full name:</p>
                        <p class="col-lg-6 text-right mb-2">Jake Jason</p>
                    </div>

                    <div class="d-flex main-home-payment__customer--address">
                        <p class="col-lg-6 mb-0">Address:</p>
                        <p class="col-lg-6 text-right mb-0">TP.HCM</p>
                    </div>
                </div>
            </div>

            <div class="main-home-payment__order" style="height: 500px; overflow-y: scroll">
                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">1</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" data-id="123" id="456" onclick="showModalInHome(this.id)" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">2</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>
                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>

                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>
                <div style="border-bottom: 0.5px solid #ccc" class="p-3 main-home-payment__order--item align-items-center justify-content-between col-lg-12 d-flex">
                    <p class="main-home-payment__order--para mb-0">3</p>
                    <p class="main-home-payment__order--para mb-0">Pho Bo VietNam</p>
                    <p class="main-home-payment__order--para mb-0">x2</p>
                    <p class="main-home-payment__order--para mb-0">24.00$</p>
                    <p data-toggle="modal" data-target="#delete-product" style="cursor: pointer" class="main-home-payment__order--para mb-0"><i class="fa-regular fa-circle-xmark"></i></p>

                </div>


            </div>

        </div>

<!--        position: fixed; bottom: 0; right: 0; width: 38%-->
        <div style="" class="bg-light main-home-payment__money mt-2">
            <div class="d-flex p-2 col-lg-12 main-home-payment__money--total">
                <p class="col-lg-9">Total bill:</p>
                <p class="col-lg-3 text-center">72.00$</p>
            </div>

            <div class="d-flex p-2 col-lg-12 main-home-payment__money--total align-items-center">
                <p class="col-lg-9">Customer given:</p>
                <input class="form-control col-lg-3 text-center mr-0" type="number" name="customer_given" id="">
            </div>

            <div class="d-flex p-2 col-lg-12 main-home-payment__money--total">
                <p class="col-lg-9">Given change:</p>
                <p class="col-lg-3 text-center">00.00$</p>
            </div>

            <div class="main-home-payment__process p-3 d-flex justify-content-between col-lg-12">
                <button type="submit" class="btn btn-danger col-lg-5">Cancel</button>
                <button type="submit" class="btn btn-success col-lg-5">Pay</button>
            </div>
        </div>
    </div>

<!--    add cus-->
    <div class="modal fade" id="add-customer">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Customer</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="fullname">Full name</label>
                                <input class="form-control login-form__input" type="text" name="fullname" id="fullname" placeholder="First name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="email">Email</label>
                                <input class="form-control login-form__input" type="email" name="email" id="email" placeholder="Email" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="address">Address</label>
                                <input class="form-control login-form__input" type="text" name="address" id="address" placeholder="Address" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="phone-add">Phone number</label>
                                <input class="form-control login-form__input" type="number" name="phone-add" id="phone-add" placeholder="Phone number" required>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    add product-->
    <div class="modal fade" id="add-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Select quantity</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="" id="product_id">
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="quantity">Quantity</label>
                                <input class="form-control login-form__input" type="number" name="quantity" id="quantity" placeholder="Quantity" required>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--    remove product-->
    <div class="modal fade" tabindex="-1"  id="delete-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Product</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- ID item đc click gắn ở đây, kéo lên mục delete chỉnh lại data-id -->
                            <input type="hidden" name="productID" id="productID" value="">

                            <p>Are you sure to remove product ___ ?</p>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        showModalInHome()
    </script>
</div>