<div th:fragment="main_sidebar">

    <div class="main-sidebar" style="background-color: white; min-height: 100%; border-right: 0.5px solid #ccc">
        <ul class="main-sidebar__list">
            <a href="/" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-house"></i>
                <p class="mb-0 mt-1">Home</p>
            </a>
            <a href="/user" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-user-gear"></i>
                <p class="mb-0 mt-1">User</p>
            </a>
            <a href="/account" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-users-gear"></i>
                <p class="mb-0 mt-1">Account</p>
            </a>
            <a href="/product" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-store"></i>
                <p class="mb-0 mt-1">Product</p>
            </a>
            <a href="/customer" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-people-group"></i>
                <p class="mb-0 mt-1">Customer</p>
            </a>
            <a href="/payment/report" class="main-sidebar__item d-block" style="color: #525252">
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-chart-pie"></i>
                <p class="mb-0 mt-1">Report</p>
            </a>

            <a href="/user/profile" class="main-sidebar__item d-block" style="color: #525252">
                <!--                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-regular fa-user"></i>-->
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-gear"></i>
                <p class="mb-0 mt-1">Settings</p>
            </a>

            <a href="/log/logout" class="main-sidebar__item d-block" style="color: #525252">
                <!--                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-solid fa-house"></i>-->
                <i style="background-color: white" class="main-sidebar__item--icon p-3 bg-light fa-solid fa-right-to-bracket"></i>
                <p class="mb-0 mt-1">Log out</p>
            </a>
        </ul>

<!--        <ul class="main-sidebar__list mt-auto">-->
<!--            <a href="/settings" class="main-sidebar__item d-block" style="color: #525252">-->
<!--&lt;!&ndash;                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-regular fa-user"></i>&ndash;&gt;-->
<!--                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-solid fa-gear"></i>-->
<!--                <p class="mb-0 mt-1">Settings</p>-->
<!--            </a>-->

<!--            <a href="/log/logout" class="main-sidebar__item d-block" style="color: #525252">-->
<!--&lt;!&ndash;                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-solid fa-house"></i>&ndash;&gt;-->
<!--                <i style="background-color: white" class="main-sidebar__item&#45;&#45;icon p-3 bg-light fa-solid fa-right-to-bracket"></i>-->
<!--                <p class="mb-0 mt-1">Log out</p>-->
<!--            </a>-->

<!--        </ul>-->
    </div>

</div>