<div th:fragment="main_navbar">

    <nav style="border-bottom: 1px solid #ccc; background-color: white" class="flex-wrap w-100 nav-bar d-flex justify-content-between p-3">
        <header class="d-flex col-lg-6 align-items-center">
            <h4 style="color: #484848" class="col-lg-3 mb-0"><a href="/" class="text-dark" style="text-decoration: none">Sales POS</a></h4>

            <div class="form-group d-flex col-lg-9 mb-0">
                <input placeholder="Search..." type="text" class="bg-light form-control w-100" name="" id="">
            </div>

<!--            <div class="bg-light navbar__icon-search">-->
<!--                <i class="fa-solid fa-magnifying-glass"></i>-->
<!--            </div>-->

        </header>

        <header class="navbar-bottom d-flex col-lg-6 justify-content-end align-items-center">
            <div style="border-radius: 10px; border: 0.5px solid #ced4da;" class="bg-light navbar__icon-repeat p-3 mr-4">
                <i class="fa-solid fa-rotate"></i>
            </div>

            <div style="border-radius: 10px; border: 0.5px solid #ced4da;" class="text-success bg-light navbar__icon-wifi p-3 mr-3">
                <i class="fa-solid fa-wifi"></i>
            </div>

            <div style="width: 50px;" class="navbar__user-img ml-3 ">
                <img class="" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover" th:src="@{/img/{image}(image=${userImg})}" alt="" srcset="">
            </div>

            <div class="navbar__greeting p-3">
                <p class="mb-0" th:text="'Hi, ' + ${#authentication.name}"></p>
            </div>
        </header>
    </nav>

</div>